@model CondominiumCoOwnersSystem.Web.ViewModels.Apartmеnts.ApartmentDetailsViewModel
@{
    this.ViewData["Title"] = "Details";
}

<div class="container mt-5">
    <h2>Апартамент @Model.Number, Ет. @Model.Floor</h2>
    <p>Информация за дължими суми към Етажната Собственост!</p>
    <table class="table table-dark">
        <thead>
            <tr>
                <th>Задължение</th>
                <th>За месец</th>
                <th>Брой живущи</th>
                <td>Платени</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var details in Model.Obligations.Where(x => x.Payed == "Не"))
            {
                <tr>
                    <td>@details.MontlyObligation лв</td>
                    <td>@details.CreatedOn.ToString("MMM, yyyy")</td>
                    <td>@details.Inhabitants</td>
                    <td>@details.Payed</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td>"Общо задължение:"</td>
                <td>@Model.DueAmount лв</td>
            </tr>
        </tfoot>
    </table>
    <p>Платени суми към Етажната Собственост!</p>
    <table class="table table-dark">
        <thead>
            <tr>
                <th>Задължение</th>
                <th>За месец</th>
                <th>Брой живущи</th>
                <td>Платени</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var details in Model.Obligations.Where(x => x.Payed == "Да"))
            {
                <tr>
                    <td>@details.MontlyObligation лв</td>
                    <td>@details.CreatedOn.ToString("MMM, yyyy")</td>
                    <td>@details.Inhabitants</td>
                    <td>@details.Payed</td>
                </tr>
            }
        </tbody>
    </table>
</div>